<!-- <iframe src="{{.Get 0}}" width="1088" height="637" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe> -->

<iframe 
    id="{{.Get 1}}" allowtransparency="true" frameborder="0" style="width:100%;border:none;" src="{{.Get 0}}" class="chessBoard">
</iframe>
<script>

    window.addEventListener("message",e=>{
        var height = null
        if (
        e['data'] &&
        e['data']['id'] &&
        document.getElementById(`${e['data']['id']}`)) {
            height =`${e['data']['frameHeight']+30}px`
        }

        if (height != null) {
        const boxes = document.querySelectorAll('.chessBoard');
        
        boxes.forEach(box => {
            console.log(box.style)
            box.style.backgroundColor = 'purple';
            box.style.height = height;
        });
        }

        
        });
</script>